

  <div class="cleaner"></div>
  <div class="templatemo_h_line_2"></div>
  <div class="field">
    <ul>
      <li>Type of trade:
        <%= model.action_type %>
      </li>
      <li>Execute when Bitcoins are worth:
        <%= model.valuation %> 
      </li>
      <li>Amount to be traded:
        <%= model.amount %>
      </li>
      <li>Expires:
        <%= model.expiration %> GMT time
      </li>
    <% if (model.executed){ %>
      <li> Executed on:
        <%= model.executed %>
      </li>
    <% } %>
    <% if (model.suspended){ %>
    <li>
      Currently suspended
    </li>
    <% } %>
    <button class="edit">Edit</button>