<%= form_for(@trade) do |f| %>
  <% if @trade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trade.errors.count, "error") %> prohibited this trade from being saved:</h2>

      <ul>
      <% @trade.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :action_type %>
    <%= f.select :action_type, [['Buy', 'buy'], ['Sell', 'sell']] %>
  </div>
  <div class="field">
    <%= f.label :valuation %> <br>Execute when Bitcoins are worth:
    <%= f.text_field :valuation %>
  </div>
  <div class="field">
    <%= f.label :amount %> <br>I would like to trade this amount of Bitcoins or Dollars:
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :expiration %>
    <%= f.datetime_select :expiration %> GMT time
  </div>
  <!-- <div class="field">
    <%= f.label :active %>
    <%= f.check_box :active %>
  </div> -->
  <!-- <div class="field">
    <%= f.label :executed %>
    <%= f.datetime_select :executed %>
  </div> -->
  <div class="field">
    <%= f.label :suspended %><br> Select to put trade on hold
    <%= f.check_box :suspended %>
  </div>
  <!-- <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div> -->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
